<!doctype html>
<html lang="en">
    <head>
        <%== partial('layouts/head')%>
    </head>
    <body>
        <div style="width: 600px; margin: 5em auto 5em auto; ">
            <h1>Demo site (DEFAULT LAYOUT)</h1>
            <div>
                <%== partial "layouts/nav" %>
            </div>
            <hr>
            <h2><%== @page_title %></h2>
            <div>
                <%== yield%>
            </div>

        </div>
    </body>
</html>
