<!doctype html>
<html lang="en">
    <head>
        <%== partial('layouts/head')%>
    </head>
    <body class="">
        <div style="width: 400px; margin: 5em auto 5em auto; ">
            <h1>Demo site<br>(SESSION LAYOUT)</h1>
            <div>
                <%== partial "layouts/nav" %>
            </div>
            <hr>
            <h2><%== @page_title || "Title" %></h2>
            <div>
                <%== yield%>
            </div>

        </div>
    </body>
</html>
